<header>
    <nav>
        <a href="/">Traverse</a>
        <ul>
            <li><a href="/sellers">Sellers</a></li>
            <li><a href="/sellers/new">Add listing</a></li>
        </ul>
    </nav>
</header>